.header {
  background-image: 
    linear-gradient(rgba(256, 256, 256, 0.6), rgba(256, 256, 256, 1)),
    url('background.jpg');
  
  background-size: cover;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 75%;
  z-index: -1;
  padding-top: 10rem;

  h1, p {
    @extend .text-center;
  }
  p {
    @extend .lead;
  }
  .social {
    display: flex;
    justify-content: center;
    i {
      padding: $padding-base-vertical $padding-base-horizontal;
    }
  }
}
