.header {
  background-image:
    linear-gradient(trans(0.2), trans(0.2)),
    url('img/background.jpg');
  
  background-size: cover;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;

  .header-text {
    padding: 10rem 0;
    background-image:
      radial-gradient(trans(0.7) 25%, trans(0) 85%);
 
    @media (max-width: $small-screen) {
      background-image:
        linear-gradient(trans(0) 10%, trans(0.7) 45%, trans(0.7) 65%, trans(0) 90%);
    }
  }
  
  h1, p {
    @extend .center-text;
  }
  
  .social {
    @extend .center-flex;

    a {
      @extend .small-padding;
      background-image:
      radial-gradient(trans(0.2) 10%, trans(0) 80%);
    }
  }
}
