.slider {
  position: fixed;
  top: 0;
  margin-top: -100px;
  left: 0;
  width: 100%;
  transition: .5s;

  &.visible {
    margin-top: 0;
    transition: .5s;
  }

  .slider-text {
    @extend .center-flex;
    align-items: center;
    background-color: #fff;
    border-bottom: 2px solid $primary;
  }

  a {
    padding-left: $padding-small-horizontal;
  }
}

main {
  max-width: 1280px;
  margin: 30rem auto;
  background-color: $body-bg;
  padding: $padding-large-vertical $padding-large-horizontal;


  h2, footer p, address {
    @extend .center-text;
    width: 100%;
  }

  h3 {
    margin-top: 0;
  }

  > section {
    @extend .center-flex;
    justify-content: flex-start;
  }

  article, footer {
    margin-top: $padding-large-vertical * 2;
  }

  article{
    @extend .center-flex;
    @include adjust-width($large-screen, 50%);

    section, aside {
      @extend .small-padding;
    }

    section {
      width: 100%;
      @include adjust-width($small-screen, 60%);
    }

    aside {
      max-width: 250px;
      @include adjust-width($small-screen, 40%);

      img {
        width: 100%;
        height: auto;
      }
    }
  }
}
